@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 50px
    max-width: 1280px;
    width: 95%;
    background: #0E050F;
    border-radius: 6px;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}

.footer-row .footer-col h4 {
    color: #703ACF;
    font-size: 1.2rem;
    font-weight: 400;

}

.footer-col .links {
margin-top: 20px;
}

.footer-col.links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer-col .links li a:hover {
    color: #703ACF
}

.footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #703ACF;
    caret-color: #703ACF;
    color: #703ACF;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: #703ACF;
}

.footer-col form button {
    background: #bfbfbf;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer-col form button:hover {
background: #703ACF;
}

.footer-col .icons i:hover {
    color: #bfbfbf;
}

@media (max max-width: 768 px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row{
        padding: 20px;
        gap: 1rem;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }
}
