
/*Variables for CSS*/
:root {
    /*Fonts*/
    --ff-Jaldi: "Jaldi", sans-serif;
    --ff-Istok-Web: "Istok-Web", sans-serif;
    --ff-Noto: "Noto Sans", sans-serif;

    /*Colors*/
    --white: rgb(255, 255, 255);
    --black-currant: rgb(14, 5, 15); 
    --hero-bg-overlay: rgb(14, 5, 15, 0.7);
    --darker-blue-primary: rgb(45, 22, 116);
    --light-purple-primary: rgb(146, 113, 194);
    --title-purple: rgb(163, 118, 243);
    --garrison-red: rgb(132, 19, 19);

    /*Outliner*/
    --outline: 2px solid var(--garrison-red);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black-currant);
}

header {
    position: relative;
    overflow: hidden;
    height: 670px;
    width: 100%;
    background-image: url("Images/Content/hanny-naibaho-aWXVxy8BSzc-unsplash(1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 18%;
}

/*Ignore This*/
@media (max-width: 768px) {
    header {
      height: 70vh;  /* Adjust height for smaller screens */
    }
}

.bg-overlay {
    position: absolute;
    background-color: var(--hero-bg-overlay);
    width: 100%;
    height: 670px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
   text-decoration: none;
}

ul, li {
    list-style-type: none;
}

.hero-wrapper {
    position: relative;
    width: 100%;
}

.hero-welcome-heading {
    position: relative;
    width: 100%;
    font-family: var(--ff-Jaldi);
    color: white;
    font-size: 60px;
    text-align: center;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5rem;
    margin-top: 2rem;
}

/*Start of Welcome Pitch Box*/
.welcome-pitch-wrapper {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 2rem;
    display: grid;
    place-content: start;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.welcome-pitch-message {
    color: white;
    font-family: var(--ff-Jaldi);
    font-weight: 100;
    line-height: 35px;
    font-size: 25px;
    letter-spacing: 0.1px;
}

.welcome-pitch-points-list {
    display: grid;
    place-content: start;
    gap: 1rem;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.welcome-pitch-points {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    font-family: var(--ff-Jaldi);
}

.icon-wrapper {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    display: grid;
    place-content: center;
}

.icon-wrapper i {
    color: var(--light-purple-primary);
    font-size: 25px;
}
/*End of Welcome Pitch Box*/


/*Start of Artists Display Cards and Call To Action Elements*/
.artist-display-cta-wrapper {
    position: relative;
    display: grid;
    place-content: center;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.artist-display-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.artist-display-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.artist-display-img:nth-child(2) {
    position: absolute;
    width: 220px;
    height: 220px;
    z-index: 3;
}

.cta-wrapper {
    display: grid;
    place-content: center;
    gap: 10px;
    width: 100%;
}

.cta-text {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 10px;
    color: white;
    font-family: var(--ff-Jaldi);
    text-align: center;
    width: 500px;
    line-height: 25px;
    font-size: 20px;
    margin-top: 20px;
    text-shadow: 4px 4px 20px black;
}

.cta-text-span {
    padding: 8px 25px;
    background-color: white;
    color: var(--darker-blue-primary);
    border-radius: 150px;
    text-shadow: none;
}

.cta-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-btn {
    margin-top: 10px;
    background-color: var(--darker-blue-primary);
    color: white;
    padding: 10px 35px;
    text-transform: uppercase;
    border-left: 6px solid white;
    font-family: var(--ff-Jaldi);
    transition: linear 0.2s;
    width: fit-content;

}

.cta-btn:hover {
    background-color: white;
    color: var(--darker-blue-primary);
    border-width: 100%;
    transition: linear 0.2s;
    letter-spacing: 0.3px;
    font-weight: 550;
}
/*End of Artists Display Cards and Call To Action Elements*/




/* Navigation bar*/
.space
{border:1px rgb(111, 0, 128);
height: 60px;
display: flex;
flex-direction: row;
justify-content: space-between;
padding:0;
position: relative;
background-color: none;}





.navibar-logo-space 
{height:100%;}


.navibar-logo-space>img
{height:100%;
color: white;}


.navibar-menu-space
{font-family: monospace;
color: rgb(255, 255, 255);
display: flex;
width: 350px;
margin-right: 600px;
justify-content: space-evenly;
align-items:center;
}
a{color: (255,255,255)}



/*Start of Main Content*/

main {
    max-width: 1000px;
    margin: auto;
}

main > * {
    color: white;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.fotn-section {
    outline: var(--outline);
    width: 100%;
    display: grid;
    place-content: start;
    gap: 2rem;
}

.section-header {
    width: 100%;
}

.section-heading {
    color: var(--title-purple);
    font-family: var(--ff-Jaldi);
    font-size: 50px;
}

.fotn-content-wrapper {
    display: flex;
    position: relative;
}

.fotn-container-one {
    display: grid;
    place-content: start;
    place-content: center;
    justify-content: space-evenly;
}

.fotn-card-one {
    width: fit-content;
    background-color: var(--white);
    display: grid;
    place-content: start;
    padding: 1.5rem 3rem 3rem 3rem;
    gap: 1rem;
}

.fotn-card-one-heading {
    color: var(--title-purple);
    font-family: var(--ff-Istok-Web);
    font-size: 38px;
}

.fotn-card-one-text-wrapper {
    display: grid;
    gap: 1rem;
}

.fotn-card-one-text {
    color: var(--black-currant);
    font-family: var(--ff-Jaldi);
    line-height: 20px;
}

.fotn-card-one-text span {
    color: var(--title-purple);
    font-weight: bold;
}

.fotn-card-one-link-wrapper {
    margin-top: 1rem;
}

.fotn-card-one-link {
    border: 1px solid var(--darker-blue-primary);
    padding: 10px 15px;
    color: var(--darker-blue-primary);
    font-family: var(--ff-Jaldi);
    font-weight: bold;
    text-transform: uppercase;
}